{% extends "base.html" %} {% load static %} {% block content %}
<div class="faq-container">
  <h2>Frequently Asked Questions</h2>
  <label for="lang" class="lang-label">Select Language:</label>
  <select id="lang">
    <option value="en">English</option>
    <option value="hi">Hindi</option>
    <option value="bn">Bengali</option>
  </select>
  <button onclick="fetchFAQs()" class="search_btn">Search</button>
  <div id="faq-list"></div>
</div>
<button id="load-more-btn" style="display: none">Load More</button>
<script src="{% static 'js/fetchFAQs.js' %}"></script>
{% endblock %}
